# Dot-prefixed directories and files (config, cache, project metadata)
.*
!/.gitignore
!.gitattributes
!/.github/
!/.github/**

# Build artifacts
cata.exe
cata
cata-linux
cata-windows
cata-gateway
cata-gateway.exe
